# Workflow para construir y desplegar un sitio de Next.js en GitHub Pages
name: Deploy Next.js site to Pages

on:
  # Se ejecuta en los pushes al branch `main`
  push:
    branches: ["main"]
  # Te permite ejecutar este workflow manualmente desde la pestaña de Actions
  workflow_dispatch:

# Configura el token GITHUB_TOKEN con permisos de pages:write para permitir el despliegue en GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Permite solo un despliegue concurrente, cancelando los anteriores que estén en progreso.
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Job de construcción
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: 'npm'
      - name: Install dependencies
        run: npm install
      - name: Build with Next.js
        run: npm run build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Sube el directorio de salida de Next.js
          path: ./out

  # Job de despliegue
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
